body {
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    line-height: 1.44;
    color: #333333;
    background-color: rgb(255, 255, 255);
}

.pr-top-line1 {
    border-top: 5px solid #032668;
    z-index: 999;
    height: 10px;
}

.pr-top-line2 {
    border-top: 5px solid #d22f23;
    z-index: 999;
    height: 10px;
}

.pr-top-title {
    /* font-size: 33px; */
    font-size: 2rem;
    font-weight: bold;
    color: #031e51;
}

.pr-top-subtitle {
    font-size: 1rem;
}

.pr-nav-bar {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}


/* SEARCH BAR BACKGROUND IMAGE */
/* .pr-search-bar {
    background-image: url(https://www.forbes.com/custom/wp-content/uploads/2019/10/iStock-976354264_Malaysia.jpg),linear-gradient(45deg,#0f3b84 0%,#001139 100%);
    background-position: center center;
    background-size: cover;
    z-index: 0;
} */


/* SEARCH BAR BACKGROUND GRADIENT */
.pr-search-bar {
	background: linear-gradient(45deg, #0f3b84, #001139, #dd3d31, #d22f23);
	background-size: 400% 400%;
	animation: gradient 12s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.pr-search-bar h2 {
    text-shadow: 0 1px 2px rgba(3, 1, 34, 0.8);
}

.pr-kluster-bar {
    background-color: white;
}

.pr-kluster-item {
    width: 150px;
    /* color: #032668; */
    color: rgb(122, 121, 121, 0.7);
    font-weight: bold;
    cursor: pointer;
}

.pr-kluster-item:hover {
    color: #d22f23;
    /* cursor: pointer; */
}

.pr-kluster-button {
    display: block;
    width: 65px;
    height: 65px;
    padding: 5px 3px 2px 3px;
    /* padding: 10px; */
    /* border-radius: 35px; */
    /* font-size: 24px; */
    /* line-height: 1.33; */
    border: 1px solid #e2e1e1;
    color: #b6b3b3;
}

.pr-kluster-button .material-icons-outlined {
    font-size: 36px;
    /* color: #134a9f; */
    background: linear-gradient(to right, #0a53c0 0%, #032668 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    /* color: linear-gradient(to right top, #134a9f, #0f3b84, #092c6a, #031e51, #001139); */
}

.pr-kluster-item:hover .pr-kluster-button, .pr-kluster-item:hover .pr-kluster-button i {
    /* border-color: #ff0565; */
    /* color: #ff0565; */

    background: linear-gradient(to right, #dd4136 0%, #d22f23 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.pr-kluster-item:hover .pr-kluster-button{
    /* -webkit-box-shadow: 0 0 5px #ff0565;
       -moz-box-shadow: 0 0 5px #ff0565;
            box-shadow: 0 0 5px #ff0565; */
    /* color: #134a9f; */
}


.pr-stats-bar {
    background-image: url(https://startbootstrap.com/assets/img/overlay.svg),linear-gradient(45deg,#0f3b84 0%,#001139 100%);
    background-size: cover;
    z-index: 0;
}

.pr-stats-item {
    color: #F5F5F5;
}

/* .pr-stats-item .count {
    color: #ebabc3;
} */

.pr-nav-bar .nav-link {
    color: rgb(122, 121, 121);
    font-weight: bold;
}

.pr-footer {
    color: #F5F5F5;
    background-color: #001139;
    /* background-color: #092c6a;
    background-image: linear-gradient(to bottom, #134a9f, #0f3b84, #092c6a, #031e51, #001139); */
    /* background-image: linear-gradient(to right top, #134a9f, #0f3b84, #092c6a, #031e51, #001139); */
}


.pr-title {
    color: #032668;
    font-size: 28px;
    font-weight: bold;
}

.pr-title span {
    color: #d22f23;
    font-weight: normal;
}


/* Hack */
a:focus, a:hover {
    color: #d22f23 !important;
    text-decoration: none !important;
}

.dropdown-menu {
    font-size: 14px;
    border: none;
}

.dropdown-menu .dropdown-item {
    font-size: 14px;
    color: rgb(122, 121, 121);
    font-weight: bold;
}